*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

#counter_part{
    padding: 150px 0;
    background: rgb(143, 33, 0);
}
.item_part{
    display: flex;
}
.item{
    width: 33.33%;
    padding:20px;
    background: rgb(148, 70, 212);
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin-right: 20px;
}

#birthday_countdown{
    background: rgb(0, 48, 90);
    padding: 150px 0;
}
.birthday_part{
    display: flex;
}
.birthday{
    width: 25%;
    padding:50px;
    background: rgb(204, 47, 68);
    font-size: 50px;
    text-align: center;
    color: rgb(0, 3, 207);
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 10px;
}
#headline{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    color: rgb(239, 255, 8);
    text-transform: uppercase;
}